<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="card-img" [title]="hotel.hotelName | uppercase" [src]="hotel.imageUrl" [alt]="hotel.hotelName">
    </div>
    <div class="col-md-6">
      <h2>{{hotel.hotelName | uppercase}} </h2>
      <p> {{hotel.description}}</p>
      <p>Price:  {{hotel.price}} $</p>
      <div class="d-flex align-items-center">
        <app-star-rating [rating]="hotel.rating"></app-star-rating>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary m-lg-4">Edit</button>
        <button class="btn btn-secondary">Back</button>
      </div>
    </div>
  </div>
</div>
