<div class="container">
  <h2 *ngIf="hotels && hotels.length > 0">{{title}}</h2>
  <button class="btn btn-primary d-flex" (click)="togglesNewBadge()">
    <span class="material-icons">{{showBadge ? 'visibility_off': 'visibility'}}</span>
    <span class="ml-4">
      {{showBadge ? 'Cacher': 'Afficher'}} Nouveau
    </span>
  </button>
  <hr>
  <div class="my-2">
    <div class="row">
      <div class="col-md-4">
        <span class="filter">Filtre actuel : <b>{{hotelFilter}}</b></span>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="hotelFilter"/>
      </div>
    </div>
  </div>
  <div class="alert alert-primary" *ngIf="!!receivedRating">
    {{receivedRating}}
  </div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let hotel of filteredHotels; let i = index">
      <div class="card">
        <img class="card-img-top custom-card-img" [src]="hotel.imageUrl" [title]="hotel.hotelName | uppercase" [alt]="hotel.hotelName">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotelName | titlecase}}</h5>
          <p class="card-text">{{hotel.description}}</p>
          <p class="card-text">{{hotel.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' | replaceComma}}</p>
          <app-star-rating [rating]="hotel.rating" (starRatingClicked)="receiveRatingClick($event)"></app-star-rating>
          <span class="badge bg-primary" *ngIf="showBadge">Nouveau</span>
        </div>
      </div>
    </div>
  </div>
</div>
